.container{
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
}

.grid{
    // background-color: black;
    // color: blanchedalmond;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.card{
    // background-color: aquamarine;
    border: 2px solid black;
    padding: 10px 20px;

    h1{
        margin: 0;
    }
    h6{
        color: blue;
        margin: 0;
    }
    p{
        color: blueviolet;
    }
    span{
        text-align: right;
        display: block;
        &::before{
            content: 'By: ';
        }
    }
}